body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    min-height: 100vh;
}
.board{
    height:500px;
    width:500px;
    background-color: aquamarine;
    position: relative;
    display:flex;
    border:1px solid black;
}
.boxes{
    width:62.5px;
    height:62.5px;
    background-color: black;
    position: absolute;
}
.bR1,.bR2{
    background: url("bR.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.bN1,.bN2{
    background: url("bN.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.bB1,.bB2{
    background: url("bB.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.bQ{
    background: url("bQ.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.bK{
    background: url("bK.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.bp{
    background: url("bp.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wR1,.wR2{
    background: url("wR.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wN1,.wN2{
    background: url("wN.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wB1,.wB2{
    background: url("wB.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wQ{
    background: url("wQ.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wK{
    background: url("wK.png");
    height: 62px;
    width:60px;
    margin:auto;
}
.wp{
    background: url("wp.png");
    height: 62px;
    width:60px;
    margin:auto;
}